body{
    background-color:#6BFFFA;
}
.logo{
    width: 3em;
    border-radius: 30px;
}
.nav{
    background-color:#50BFBC ;
}
.fuente__navbar--size{
    font-weight: bolder;
}
.contenedor_carrusel{
    height: 350px;
    text-align: center;
    background-color:#1B403F;
}
.img_carousel{
    width: 300px;
    padding: 5px;
}
.img_logo_principal{
    width: 30%;
}
/* Video del Home */
.home__contenedorVideo{
    text-align: center;
}
.home__video--size{    
    width: 360px;
    height: 360px;
}
.botones_desplegable{
    color: white;
    background-color: #1B403F;
}
.home__evaluacion--aspecto{
    text-align: left;
}
/* Proyecto educacional */
.proyecto__titulo--aspecto{
    text-align: center;
    text-decoration: underline;    
}
.proyecto__vision--aspecto{
    padding: 10px;
    margin: auto;
    width: 85%;
    text-align: center;
}
.proyecto__areas--aspecto{
    padding: 10px;
    margin: auto;
    width: 85%;
}
.proyecto__lema--aspecto{
    text-align: center;
}
.footer{
    padding: 15px;
    text-align: center;
    background-color: #50BFBC;
}